---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>¡Bienvenido a Figthing Maxwell!</h1>
			<p>¡Hola! Soy David López y te doy la bienvenida a mi primer videojuego.</p>
			<p>Este es un pequeño juego de lucha multijugador en línea donde podrás competir con tus amigos.</p>
			<h2>¿Cómo jugar?</h2>
			<p>
				Puedes jugar directamente en tu navegador visitando el siguiente enlace:
				<a href="http://deft.work:8833">http://deft.work:8833</a>
			</p>
			<h3>Controles</h3>
			<ul>
				<li><strong>Movimiento</strong>: Teclas WASD o joystick en móvil.</li>
				<li><strong>Ataque</strong>: Haz clic o toca a otros jugadores.</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
